* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    background: url(assets/images/bg-slider.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    height: 566px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    height: 80px;
}

.company-label {
    display: flex;
    margin: 28px 200px 0 0;
    align-items: center;
}

li {
    padding: 8px 13px;
    border-left: 1px solid #dcb105; 
}

li:first-of-type {
    border-left: none;
    padding-left: 35px;
}

ul {
    display: flex;
    align-items: center;
    margin-top: 63px;
    white-space: pre;
    background: #f5c506;
    box-shadow: -5px -5px #f5c50675, -10px -10px #f5c50675;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0;
}

.arrow {
    height: 57px;
    width: 32px;
    background: #caa60e;
}

.arrow > img {
    padding: 18px 12px;
}

.arrow:first-of-type > img {
    padding: 18px 8px;
}

video {
    height: 327px;
}

.columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(assets/images/bg-columns.png);
    margin: 82px 0 0;
    height: 212px;
    box-shadow: 0 -5px 5px -5px #000000;
}

.better-design {
    margin-left: 300px;
}

.its-free {
    margin-right: 300px;
}

.lorem {
    display: flex;
    flex-direction: column;
    height: 507px;
    background: url(assets/images/bg-lorem.png);
    box-shadow: inset 0 5px 5px -5px #000000;
}

.lorem-text {
    height: 232px;
    width: 341px;
    background: #ec9e03;
}

.twitter {
    height: 232px;
    width: 341px;
    background: #ec9e03;
}